# What are dictionaries?

Within a `list` and a `tuple`, the elements are accessed using the index. This leads to the following drawback: If you
want to access a specific element, you have to know at which index it is stored. Knowing the index of specific elements
can become even more complicated when other element are deleted or added. In this case the index of all following
elements changes. As a consequence, accessing elements using their index can make programming really cumbersome.


## Accessing elements by name

This problem is solved by *dictionaries*. Dictionaries are similar to lists and tuples in that they can handle multiple
elements. The big difference is: Within a dictionary, the elements are not accessed by their index, but by *name*.

What does this mean? Take the telephone book as an example. A telephone book collects lots of telephone numbers and each
of this number is assigned to a name:

| Name         | Telephone Number |
| :----------- | ---------------: |
| P. McCartney |          123 456 |
| J. Lennon    |      987 654 321 |
| G. Harrison  |       11 342 555 |
| R. Starr     |       777 888 32 |

Within the telephone book, you do **not** look for the third element but you look for the number belonging to *G. Harrison*.
Actually, you want to get the number by just using the name.

Accessing an element by name is what dictionaries are good for. Instead of *name*, the more general term *key* is used.


# Using dictionaries

A dictionary consists of so-called key-value pairs. Dictionaries are represented by curly braces `{}`. The braces
contain the individual key-value pairs separated by commas. Each key-value pair is represented as follows: `key: value`.  
A dictionary therefore looks like this: `{key1: value1, key2: value2, ..., keyN: valueN}`. Have a look at the following
example:

In [1]:
phone_book = {
    "P. McCartney": 123456,
    "J. Lennon": 987654321,
    "G. Harrison": 11342555,
    "R. Starr": 77788832,
}
print(phone_book)

{'P. McCartney': 123456, 'J. Lennon': 987654321, 'G. Harrison': 11342555, 'R. Starr': 77788832}

Now it is possible to access individual elements of `phone_book` by the key, i.e. by the name of the person. To do that,
the key has to be placed in square brackets `[ ]` right after the name of the dictionary.

In [2]:
print(phone_book["G. Harrison"])

11342555

To access the elements by index is *not* possible as the following example demonstrates.

In [3]:
print(phone_book[2])

KeyError: 2

It is not possible to access a dictionary using the index. Actually, the error message above does not argue against the
usage of indices. It has just checked, that `2` is not a key in the given dictionary. Accessing a non-existing key
leads to a key error.

Generally speaking, accessing a dictionary with a key, which is not available, leads to an error. This is again
demonstrated in the following example.

In [ ]:
print(phone_book["P. Best"])

## Adding key-value pairs to a dictionary
A new key-value pair can be easily added to a dictionary using the following statement: `dictionary[key] = value`. In
the following example, more telephone numbers are added to our telephone book.

In [9]:
phone_book["Y. Ono"] = 5463333
phone_book["B. Epstein"] = 9998777
print(phone_book)

{'J. Lennon': 987654321, 'G. Harrison': 11342555, 'R. Starr': 77788832, 'Y. Ono': 5463333, 'B. Epstein': 9998777}

## Replacing the value for an existing key
If a key already exists when it is assigned to a dictionary, the existing value is overwritten by the new value. This
can be used to change or update entries in the dictionary. But you need to be careful not to overwrite the wrong entries
in your dictionary!

In [10]:
phone_book["P. McCartney"] = 654321
print(phone_book)

{'J. Lennon': 987654321, 'G. Harrison': 11342555, 'R. Starr': 77788832, 'Y. Ono': 5463333, 'B. Epstein': 9998777, 'P. McCartney': 654321}

## More about keys and values
In the example of the telephone book, all keys have been strings and all values have been integer. This is not a
requirement of dictionaries. In fact, the *values* can be of all data types including lists, tuples and dictionaries.
The *keys* can be of nearly all data types (cf. the following explanation about immutability). And data types can be
mixed within one dictionary as demonstrated in the following example.

In [4]:
stupid_dict = {
    123: "blabla",
    True: 123.456,
    "key": False,
    (123, "abc"): 1000,
    34.5: [0, 1, 1, 2, 3, 5],
}
print(stupid_dict)

{123: 'blabla', True: 123.456, 'key': False, (123, 'abc'): 1000, 34.5: [0, 1, 1, 2, 3, 5]}

## The key in a dictionary is immutable
Unlike values, which can be changed, keys must not be mutable in a dictionary. Therefore, a key can be e.g. an
`integer`, a `string` or a `tuple`, but not a list, since a list could be modified. Just have a look at the following
two examples, which are quite similar.[<sup id="fn1-back">1</sup>](#fn1)

In [5]:
new_phone_book = {("Paul", "McCartney"): 123456}
print(new_phone_book)

{('Paul', 'McCartney'): 123456}

Lists cannot be key as they can be changed

In [6]:
new_phone_book = {["Paul", "McCartney"]: 123456}
print(new_phone_book)

TypeError: unhashable type: 'list'

## Deleting an element
Of course, elements can be deleted from a dictionary. This can be done using the keyword `del`. Just check the following
example. What happens, if you run the following cell twice? Why does this error occur?

In [11]:
del phone_book["P. McCartney"]
print(phone_book)

{'J. Lennon': 987654321, 'G. Harrison': 11342555, 'R. Starr': 77788832, 'Y. Ono': 5463333, 'B. Epstein': 9998777}

## Iterating over a dictionary with a `for` loop
Just like a `list` and a `tuple`, you can also iterate over a `dictionary` with the `for` loop. The syntax for this
is as follows:

name is the key in this example.

In [12]:
for name in phone_book:
    print(name, phone_book[name])

J. Lennon 987654321
G. Harrison 11342555
R. Starr 77788832
Y. Ono 5463333
B. Epstein 9998777

# Usage of functions and methods with dictionaries
Of course, there are some functions and methods to handle dictionaries.


## General functions and methods

| Function/Method | Return value                                |
| --------------- | ------------------------------------------- |
| `len()`         | Number of key-value pairs in the dictionary |
| `.keys()`       | All keys of a dictionary                    |
| `.values()`     | All values of a dictionary                  |
| `.items()`      | All `key:value` pairs as tuples             |


> **NOTE:** The data type of the output of the `.keys()` method is `dict_keys`. With the help of the function `list()`,
this can be converted into a list.

In [13]:
print(len(phone_book))

5

In [14]:
print(phone_book.keys())
print(list(phone_book.keys()))

dict_keys(['J. Lennon', 'G. Harrison', 'R. Starr', 'Y. Ono', 'B. Epstein'])
['J. Lennon', 'G. Harrison', 'R. Starr', 'Y. Ono', 'B. Epstein']

In [15]:
print(list(phone_book.values()))

[987654321, 11342555, 77788832, 5463333, 9998777]

In [16]:
print(phone_book.items())

dict_items([('J. Lennon', 987654321), ('G. Harrison', 11342555), ('R. Starr', 77788832), ('Y. Ono', 5463333), ('B. Epstein', 9998777)])

# Typical applications of dictionaries

In the following, two scenarios are given in which dictionaries are useful.


## Example 1: Student Data

In the telephone book example, the key-value pairs were always *name - telephone number*. In the following example, the
data for a student consisting of name, first-name, ID, e-mail, city, etc. is represented using a dictionary.

This is again a dictionary with keys and values. However, the keys and values are quite different in nature. All keys
describe different attributes of the same student. The advantage of this representation is, that you do not have to
remember at which index what kind of attribute is stored. Another advantage (in comparison to tuples) is that
additional attributes can be added and not required attributes can be deleted.

Each line is a key-value pair
don't have to remember where each data point is located in the index

In [17]:
student = {
    "name": "McCartney",
    "firstname": "Paul",
    "subject": "Music",
    "musician": True,
    "instruments": ["bass", "guitar", "piano"],
    "bands": ["Beatles", "Wings"],
}
print(student)
print(student["name"])

{'name': 'McCartney', 'firstname': 'Paul', 'subject': 'Music', 'musician': True, 'instruments': ['bass', 'guitar', 'piano'], 'bands': ['Beatles', 'Wings']}
McCartney

## Example 2: Students and student IDs

In the case of data that has a unique identifier (ID), this identifier can be used as the key of a dictionary.
Consider the following example. Each student has a student-ID which is used as the key.

In [18]:
students = {
    12345: "Paul McCartney",
    23456: "John Lennon",
    34567: "George Harrison",
    45678: "Ringo Starr",
}
print(students)
print(students[34567])

{12345: 'Paul McCartney', 23456: 'John Lennon', 34567: 'George Harrison', 45678: 'Ringo Starr'}
George Harrison

# Exercise 1: Translation

Create a dictionary which consists of the colors *red, green, blue, yellow* as keys and the German translation *rot,
grün, blau, gelb* as values. Using `input()` ask for another English color and its German translation an add this pair
to the dictionary.

In [21]:
colors = {
    "red" : "rot",
    "green" : "grun",
    "blue": "blau",
    "yello": "gelb",
}
eng_color = input ("Please input an English color:")
ger_color = input ("Please input the German name for the color")

colors[eng_color] = ger_color

print(colors)

Please input an English color:black
Please input the German name for the colorschwarz
{'red': 'rot', 'green': 'grun', 'blue': 'blau', 'yello': 'gelb', 'black': 'schwarz'}

# Exercise 2: Translate

Now make use of the translation dictionary from the last exercise. Again, using `input()` ask for a color and give the
translation as output.

Example input:

```
Which color should be translated? red
```


Example output:

```
The German word for "red" is "rot".
```

In [25]:
color = input("What color should be translated?")

print("The Gernam word for", color, "is", colors[color])

What color should be translated?red
The Gernam word for red is rot

# Footnote
[<sup id="fn1">1</sup>](#fn1-back) Actually, the underlying requirement is that the key is hashable. All immutable types in
Python 🐍 are also hashable. But the opposite is not necessarily true. However, a discussion of
these details is beyond the scope of this course.